<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="host">

  <select id="selectAll" resultType="hostQueVo">
	select * from host_que_tb
  </select>
  
  <select id="selectOne" resultType="hostQueVo">
  	select * from host_que_tb where host_que_num=#{host_que_num}
  </select>
  
</mapper>