<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<!-- # 공지사항 관련 -->
	<!-- 공지사항List by 박권익 -->
	<select id="selectAllNoti" resultType="notiVo">
		select noti_num, noti_title, noti_date
		from (select rownum rank, noti_num, noti_title, noti_date
				from noti_tb)
		order by rank desc
	</select>
</mapper>