<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="com/gan/properties/db.properties"/>
<typeAliases>
	<typeAlias type="com.gan.admin.vo.NotiVo" alias="notiVo"/>
	<typeAlias type="com.gan.admin.vo.FaqVo" alias="faqVo"/>
	<typeAlias type="com.gan.admin.vo.ThemeVo" alias="themeVo"/>
	<typeAlias type="com.gan.admin.vo.ThemePlaceVo" alias="themePlaceVo"/>
	<typeAlias type="com.gan.admin.vo.AdmQueVo" alias="admQueVo"/>
	<typeAlias type="com.gan.admin.vo.AdmAnsVo" alias="admAnsVo"/>
	<typeAlias type="com.gan.vo.PlaceVo" alias="placeVo"/>
	<typeAlias type="com.gan.admin.vo.AdmVo" alias="adminVo"/>
	<typeAlias type="com.gan.admin.vo.UserVo" alias="userVo"/>
</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/gan/admin/db/AdminMapper.xml"/>
  </mappers>
</configuration>